Repository urbit/arvo, pull requests merged in 2018-05, with the labels that each got.

#726 Foreign ship %next requests
  sys/vane/clay.hoon
Labels: %clay

#729 Change %w care to return both @ud and @da cases
  lib/hood/kiln.hoon
  sys/vane/clay.hoon
  sys/vane/eyre.hoon
  sys/vane/ford.hoon
  sys/zuse.hoon
Labels: %clay

#731 Fora Posts and Comments with no text ignored
  app/fora.hoon
Labels: apps

#733 Change %w care to return both @ud and @da cases
  lib/hood/kiln.hoon
  sys/vane/clay.hoon
  sys/vane/eyre.hoon
  sys/vane/ford.hoon
  sys/zuse.hoon
Labels: %clay, breaching
