Repository urbit/arvo, pull requests merged in 2018-02, with the labels that each got.

#610 Clay permissions
  app/hood.hoon
  gen/hood/private.hoon
  gen/hood/public.hoon
  lib/hood/kiln.hoon
  sys/vane/clay.hoon
  sys/vane/dill.hoon
  sys/vane/ford.hoon
  sys/vane/gall.hoon
  sys/zuse.hoon
Labels: %clay, request for comments

#417 correct an oversight in ++nest:ut (mismatch with jet)
  sys/hoon.hoon
Labels: %hoon

#621 Hall additions and changes to support New Web DMs
  app/hall.hoon
  app/talk.hoon
  lib/hall-json.hoon
  lib/hall.hoon
  mar/hall/action.hoon
  sur/hall.hoon
Labels: :hall / :talk

#627 Fix outdated use of "span" in hoon.hoon
  sys/hoon.hoon
Labels: %hoon

#626 Hall circle deletion bugfix and ++prep improvement
  app/hall.hoon
  app/talk.hoon
Labels: :hall / :talk, bug, enhancement

#632 Revert changes to hall circle configs (and thus the hall protocol)
  app/hall.hoon
  app/talk.hoon
  lib/hall-json.hoon
  lib/hall.hoon
  mar/hall/action.hoon
  sur/hall.hoon
Labels: :hall / :talk

#639 Bump ames version for breach
  sys/vane/ames.hoon
Labels: %ames, breaching
