Repository urbit/arvo, pull requests merged in 2019-04, with the labels that each got.

#1151 %acme: use cert from clay files
  app/acme.hoon
  app/dns.hoon
  app/eth-watcher.hoon
  app/time.hoon
  lib/hood/helm.hoon
  lib/hood/kiln.hoon
  mar/pem.hoon
  sys/hoon.hoon
  sys/vane/ames.hoon
  sys/vane/clay.hoon
  tests/sys/hoon/qeu.hoon
Labels: apps

#1150 Add =% for monadic operations
  sys/hoon.hoon
Labels: %hoon

#1093 Update leap second lists
  sys/zuse.hoon
Labels: %zuse
